body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: DimGrey;
    color: white;
    font-size: 50px;
}

nav a{
    color:black;
    text-decoration: none;
    padding: 10px;
}

  nav{
    text-align: center;
    background-color: DimGrey;
    padding: 20px;
  }

  a {
    color: black;
    background-color: grey;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
    margin: 20px;
  }

    h2 {
text-align: center;
    background-color: DimGrey;
    color:white;
    font-size: 50px !importent;
    }

    h3 {
text-align: center;
    background-color: DimGrey;
    color:white;
    font-size: 50px;
    }

      h4 {
text-align: center;
    background-color: DimGrey;
    color:white;
    font-size: 50px;
      }

      h5 {
text-align: center;
    background-color: DimGrey;
    color:white;
    font-size: 50px;
      }
          
          a {
            text-decoration: none; color: black;
        }
        a:hover {
            font-weight: bold;
            color: black;
        }

          .ggo {
    width: 300px;
 }
          .go {
    width: 300px;
              
 }.igo {
    width: 300px;
 }
          .ggo {
    width: 300px;
 }
          .gio {
    width: 300px;
 }
          .ligo {
    width: 300px;
 }
          .lago {
    width: 300px;
 }

          .figo {
    width: 300px;
 }

          .gilo {
    width: 300px;
 }

.li {
    width: 70px;
 }
